<% layout('layouts/adminLayout') %>

<div class="container justify-content-center align-items-center mt-3">
    <h2 class="mb-5">Βασικές Πληροφορίες</h2>
        <div class="row">
            <div class="col-md-6">
                <h4 class="mb-5">Πλήθος Χρηστών: <%= num_users %> </h4>
                <h4 class="mb-3">Πλήθος εγγραφών ανά τύπο αίτησης</h4>


                <div class="container">
                    <canvas id="methodsChart"></canvas>
                </div>

                <h4 class="mb-3">Πλήθος εγγραφών ανά κωδικό απόκρισης</h4>

                <!-- <table style="width: 100%" class="mb-5"">
                    <tr>
                        <th>Κωδικός απόκρισης</th>
                        <% for (status in statusObject) { %> 
                            <td><%= status %> </td>
                        <% } %> 
                    </tr>

                    <tr>
                        <th>Πλήθος</th>
                        <% for (status in statusObject) { %> 
                            <td><%= statusObject[status] %> </td>
                        <% } %> 
                    </tr>
                </table> -->

                <h4 class="mb-5">Πλήθος μοναδικών Domains: <%= domains %> </h4>

                <h4 class="mb-3">Πλήθος παρόχων συνδεσιμότητας </h4>
                <!-- <table style="width: 100%" class="mb-5">
                    <tr>
                        <th>Πάροχος</th>
                        <th>Αιτήματα</th>
                    </tr>

                    <% for (isp in ispObject) {%> 
                        <tr>
                            <td> <%= isp %> </th>
                            <td> <%= ispObject[isp]  %>  </th>
                    </tr>
                    <% } %> 
                </table> -->

                <h4 class="mb-3">Μέση ηλικία ιστοαντικειμένων </h4>
                <!-- <table style="width: 100%" class="mb-5">
                    <tr>
                        <th>Content Type</th>
                        <th>Age</th>
                    </tr>

                    <% for (let i=0; i<contentTypeArray.length; i++) {%> 
                        <tr>
                            <td> <%= contentTypeArray[i].type %> </th>
                            <td> <%= contentTypeArray[i].avg  %>  </th>
                    </tr>
                    <% } %> 
                </table> -->

            </div>
        </div>

        <input type="hidden" id="methodObject" value="<%= methodObject%> ">
        <input type="hidden" id="statusObject" value="<%= statusObject%> ">
        <input type="hidden" id="ispObject" value="<%= ispObject%> ">
        <input type="hidden" id="contentTypeArray" value="<%= contentTypeArray%> ">

        <script src="/javascript/adminHome_chart.js"></script>