<% layout('layouts/adminLayout') %>

    <div class="container justify-content-center align-items-center mt-3">
        <h2 class="mb-5">Βασικές Πληροφορίες</h2>
        <div class="row">
            <div class="col-md-6">
                <h4 class="mb-5">Πλήθος Χρηστών: <%= num_users %>
                </h4>
                <h4 class="mb-3">Πλήθος εγγραφών ανά τύπο αίτησης</h4>


                <div class="container">
                    <canvas id="methodsChart"></canvas>
                </div>

                <h4 class="mb-3">Πλήθος εγγραφών ανά κωδικό απόκρισης</h4>

                <div class="container">
                    <canvas id="statusChart"></canvas>
                </div>

                <h4 class="mb-5">Πλήθος μοναδικών Domains: <%= domains %>
                </h4>

                <h4 class="mb-3">Πλήθος παρόχων συνδεσιμότητας </h4>

                <div class="container">
                    <canvas id="ispChart"></canvas>
                </div>

                <h4 class="mb-3">Μέση ηλικία ιστοαντικειμένων </h4>

                <div class="container">
                    <canvas id="contentChart"></canvas>
                </div>

            </div>
        </div>

        <input type="hidden" id="methodObject" value="<%= methodObject%> ">
        <input type="hidden" id="statusObject" value="<%= statusObject%> ">
        <input type="hidden" id="ispObject" value="<%= ispObject%> ">
        <input type="hidden" id="contentTypeArray" value="<%= contentTypeArray%> ">

        <script src="/javascript/adminHome_chart.js"></script>